---
import skills from '@data/skills.json';
---

<style></style>

<section id="skills" class="section">
  <ul>
    {
      skills.skills_and_tools.languages_and_frameworks.map((language) => (
        <li>{language}</li>
      ))
    }
  </ul>

  <ul>
    {
      skills.skills_and_tools.network_and_data.map((network) => (
        <li>{network}</li>
      ))
    }
  </ul>

  <ul>
    {skills.skills_and_tools.styling.map((styles) => <li>{styles}</li>)}
  </ul>

  <ul>
    {skills.skills_and_tools.testing.map((test) => <li>{test}</li>)}
  </ul>

  <ul>
    {skills.skills_and_tools.visualization_and_cms.map((vis) => <li>{vis}</li>)}
  </ul>

  <ul>
    {skills.skills_and_tools.build_tools.map((build) => <li>{build}</li>)}
  </ul>

  <ul>
    {skills.skills_and_tools.tools.map((tool) => <li>{tool}</li>)}
  </ul>
</section>
